site/
result
*.bak
tests/*/*.my
issues/*/*.my
dist/
dist-newstyle/
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
.stack-work
*.prof
*.aux
*.hp
*.swp
